.banner-course {
    background: url("/static/images/banner-home.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    height: 600px;
    width: 100%;
    display: table;
    position: relative;
    z-index: 1;
    .row {
        padding-top: 80px;
    }
    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        z-index: -1;
        height: 100%;
    }
    .container-fluid {
        text-align: left;
        .display-4 {
            font-size: 2.2em;
            font-weight: 500;
        }
        .pb-5 {
            margin-top: 20px;
        }
        .intro {
            text-transform: uppercase;
            font-size: 0.9rem;
            color: #ede3d3 !important;
        }
    }
    .btn-round-red {
        background: #e62d2d;
        border-color: #e62d2d;
        border-radius: 20px;
        padding: 3px 80px 3px 80px !important;
        box-shadow: 0 2px 8px 0 rgba(255,0,0,0.6);
        margin-bottom: 15px;
        font-size: 1.1rem;
        color: #ffffff;
    }
    .btn-round-red:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
    .background-video {
        background: #ffffff;
        padding: 20px;
        border-radius: 5px;
    }
    .video-container {
        position: relative;
        padding-bottom: 53.25%;
        height: 0;
        overflow: hidden;
        max-width: 560px;
        max-height: 315px;
        margin: 0 auto;
        z-index: 2;
        border-radius: 10px;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 315px;
    }
    .info-video {
        color: #575b5d;
        .price {
            font-size: 1.4rem;
            margin-top: 20px;
        }
        .cancel-container {
            display: inline-flex;
            .cancel {
                display: flex;
                color: #929292;
                font-size: 0.9rem;
                i {
                    color: #00a900;
                }
            }
        }
    }
    .icons-course {
        .icon-c {
            text-align: center;
            display: inline-block;
            margin-right: 20px;
            p {
                font-size: 0.8rem;
                margin: 0;
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .banner-course {
        .container {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    .banner-course {
        .background-video {
            width: 320px;
            margin-top: 30px;
            margin-left: 15px;
        }
        .icons-course {
            margin-top: -30px;
        }
    }
}

@media screen and (max-width: 575px) {
    .banner-course {
        .container-fluid {
            .display-4 {
                font-size: 1.7em;
            }
            .pb-5 {
                font-size: 0.9rem;
            }
        }
        .container {
            padding: 0;
        }
        .background-video {
            width: 290px;
        }
        .icons-course {
            .icon-c {
                margin-right: 10px;
            }
        }
        .btn-round-red {
            width: 100%;
        }
    }
}