.banner {
    background: url("/static/images/banner-home.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    height: 600px;
    width: 100%;
    display: table;
    position: relative;
    z-index: 1;
    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        z-index: -1;
        height: 600px;
    }
    .container-fluid {
        vertical-align: middle;
        display: table-cell;
        .display-4 {
            font-size: 3.2em;
            font-weight: 500;
        }
    }
}
.btn-round-red {
    background: #e62d2d;
    border-color: #e62d2d;
    border-radius: 20px;
    padding: 3px 80px 3px 80px !important;
    box-shadow: 0 2px 8px 0 rgba(255,0,0,0.6);
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.btn-round-outline {
    border-radius: 20px;
    padding: 3px 15px 3px 15px !important;
}

@media screen and (max-width: 767px) {
    .banner {
        .container-fluid {
            .display-4 {
                font-size: 2.0em;
            }
            .pb-5 {
                font-size: 0.9rem;
                padding-bottom: 1rem !important;
            }
        }
    }
}
